@import "../color/lib";
@import "../type/lib";

.damage-info-window {
  font-size: 0.9rem;
  color: $white;
  background-color: $gray;
  border: 4px solid $black;
  border-radius: 15px;
  text-align: left;
  width: pxtoem(320);

  .content {
    padding: pxtoem(15);
  }

  img {
    display: block;
    width: calc(100% + 8px);
    margin-left: -4px;
    margin-top: -4px;
    border: 4px solid $black;
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &:after {
    content: "";
    width: pxtoem(35);
    height: pxtoem(35);
    background-color: $gray;
    border-bottom: 4px solid $black;
    border-left: 4px solid $black;
    border-radius: 0;
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.popup-tip-anchor {
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}

/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: 18px;
  left: 0;
}

/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
}
