@import "../color/lib";
@import "../type/lib";

.pill-radio {
  > .pill {
    cursor: pointer;
    margin-right: -1px;

    &.checkbox-pill {
      margin-right: .5em;
    }

    input {
      height: 0;
      width: 0;
      font-size: 0;
      overflow: hidden;
      visibility: hidden;
      position: absolute;
    }

    span {
      font-weight: 400;
      display: block;
      border: 1px solid $light-gray;
      padding: pxtoem(4) pxtoem(12);
      color: rgba($gray, 0.4);
    }

    &:first-child,
    &.checkbox-pill {
      span {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &:last-child,
    &.checkbox-pill {
      span {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    & input:checked + span {
      border-color: $gray;
      background-color: $gray;
      color: $white;
      z-index: 5;
    }

    label {
      margin: 0;
    }
  }
}
