@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
html, body {
  font-size: 16px;
  font-weight: 300;
  max-width: 100%;
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: #2c3443;
  line-height: 1.6;
  min-height: 100vh; }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    html, body {
      font-size: 18px; } }
  @media (min-width: 1500px) {
    html, body {
      font-size: 18px; } }
  @media (min-width: 1730px) {
    html, body {
      font-size: 20px; } }

#react-container {
  min-height: 100vh; }

p {
  margin: 0 0 1em; }

.p {
  font-size: 1em; }

h1, .h1 {
  font-size: 3.05176em;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  margin: 0 0 0.13636em; }

h2, .h2 {
  font-size: 2.44141em;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  margin: 0 0 0.21429em; }

h2.large, .h2.large {
  font-size: 3.8147em; }

h2.medium, .h2.medium {
  font-size: 2.44141em; }

h3, .h3 {
  font-size: 1.95313em;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 0.6383em; }

h4, .h4 {
  font-size: 1.5625em;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  margin: 1.11111em 0 0.55556em; }

h5, .h5 {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02778em;
  line-height: 1.1;
  margin: 0 0 0.27778em; }

h6, .h6 {
  font-size: 1em;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0 0 0.83333em; }

a {
  text-decoration: none;
  transition: all .15s; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

.blank {
  color: inherit; }
  .blank:hover, .blank:focus, .blank:active {
    color: inherit; }

.list-inline, .pipe-list {
  padding-left: 0;
  margin-left: -0.27778em;
  list-style: none; }
  .list-inline > li, .pipe-list > li {
    display: inline-block;
    padding-right: 0.27778em;
    padding-left: 0.27778em; }

.pipe-list li:after {
  content: ' | ';
  display: inline-block;
  margin-left: 0.27778em;
  margin-right: -0.27778em; }

.pipe-list li:last-child:after {
  content: normal; }

.list-unstyled {
  list-style: none;
  padding-left: 0; }

.list-tall > li {
  margin-bottom: .9em; }

hr {
  border: 0;
  height: 1px; }

figure {
  margin: 0; }

.bold {
  font-weight: bold; }

.light {
  font-weight: lighter; }

.no-break {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

ul {
  margin-bottom: 1em;
  padding-left: 20px; }

.block-arrow {
  display: inline-block;
  padding: 0.22222em 0.77778em;
  border: 1px solid;
  line-height: 1;
  transition: all .15s;
  font-weight: 300; }
  .block-arrow:after {
    font-family: 'Font Awesome 5 Pro';
    content: '\f178'; }

small, .small {
  font-size: 0.8em; }

large, .large {
  font-size: 1.25em; }

.inline-spacer {
  display: inline-block;
  width: .75em; }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
.bg-black {
  background-color: #000; }

.bg-gray {
  background-color: #2c3443; }

.bg-medium-gray {
  background-color: #8aa59b; }

.bg-light-gray {
  background-color: #bababa; }

.bg-off-white {
  background-color: #eeeeee; }

.bg-white {
  background-color: #ffffff; }

.bg-accent {
  background-color: #89B6A5; }

.text-black {
  color: #000; }

.text-gray {
  color: #2c3443; }

.text-medium-gray {
  color: #8aa59b; }

.text-light-gray {
  color: #bababa; }

.text-off-white {
  color: #eeeeee; }

.text-white {
  color: #ffffff; }

.text-accent {
  color: #89B6A5; }

.hover-black:hover, .hover-black:focus, .hover-black:active {
  color: #000; }

.hover-gray:hover, .hover-gray:focus, .hover-gray:active {
  color: #2c3443; }

.hover-medium-gray:hover, .hover-medium-gray:focus, .hover-medium-gray:active {
  color: #8aa59b; }

.hover-light-gray:hover, .hover-light-gray:focus, .hover-light-gray:active {
  color: #bababa; }

.hover-off-white:hover, .hover-off-white:focus, .hover-off-white:active {
  color: #eeeeee; }

.hover-white:hover, .hover-white:focus, .hover-white:active {
  color: #ffffff; }

.hover-accent:hover, .hover-accent:focus, .hover-accent:active {
  color: #89B6A5; }

.index-container {
  min-height: 100vh;
  overflow: hidden;
  background: url("../img/default-bg.jpg") no-repeat center;
  background-size: cover;
  background-color: #2c3443;
  display: flex;
  align-items: center;
  flex-direction: row; }

.app-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.divide-5 {
  width: 100%;
  display: block;
  height: 0.27778rem; }

.divide-10 {
  width: 100%;
  display: block;
  height: 0.55556rem; }

.divide-15 {
  width: 100%;
  display: block;
  height: 0.83333rem; }

.divide-20 {
  width: 100%;
  display: block;
  height: 1.11111rem; }

.divide-25 {
  width: 100%;
  display: block;
  height: 1.38889rem; }

.divide-30 {
  width: 100%;
  display: block;
  height: 1.66667rem; }

.divide-35 {
  width: 100%;
  display: block;
  height: 1.94444rem; }

.divide-40 {
  width: 100%;
  display: block;
  height: 2.22222rem; }

.divide-45 {
  width: 100%;
  display: block;
  height: 2.5rem; }

@media (min-width: 568px) {
  .divide-xs-5 {
    width: 100%;
    display: block;
    height: 0.27778rem; }
  .divide-xs-10 {
    width: 100%;
    display: block;
    height: 0.55556rem; }
  .divide-xs-15 {
    width: 100%;
    display: block;
    height: 0.83333rem; }
  .divide-xs-20 {
    width: 100%;
    display: block;
    height: 1.11111rem; }
  .divide-xs-25 {
    width: 100%;
    display: block;
    height: 1.38889rem; }
  .divide-xs-30 {
    width: 100%;
    display: block;
    height: 1.66667rem; }
  .divide-xs-35 {
    width: 100%;
    display: block;
    height: 1.94444rem; }
  .divide-xs-40 {
    width: 100%;
    display: block;
    height: 2.22222rem; }
  .divide-xs-45 {
    width: 100%;
    display: block;
    height: 2.5rem; } }

@media (min-width: 768px) {
  .divide-sm-5 {
    width: 100%;
    display: block;
    height: 0.27778rem; }
  .divide-sm-10 {
    width: 100%;
    display: block;
    height: 0.55556rem; }
  .divide-sm-15 {
    width: 100%;
    display: block;
    height: 0.83333rem; }
  .divide-sm-20 {
    width: 100%;
    display: block;
    height: 1.11111rem; }
  .divide-sm-25 {
    width: 100%;
    display: block;
    height: 1.38889rem; }
  .divide-sm-30 {
    width: 100%;
    display: block;
    height: 1.66667rem; }
  .divide-sm-35 {
    width: 100%;
    display: block;
    height: 1.94444rem; }
  .divide-sm-40 {
    width: 100%;
    display: block;
    height: 2.22222rem; }
  .divide-sm-45 {
    width: 100%;
    display: block;
    height: 2.5rem; } }

@media (min-width: 992px) {
  .divide-md-5 {
    width: 100%;
    display: block;
    height: 0.27778rem; }
  .divide-md-10 {
    width: 100%;
    display: block;
    height: 0.55556rem; }
  .divide-md-15 {
    width: 100%;
    display: block;
    height: 0.83333rem; }
  .divide-md-20 {
    width: 100%;
    display: block;
    height: 1.11111rem; }
  .divide-md-25 {
    width: 100%;
    display: block;
    height: 1.38889rem; }
  .divide-md-30 {
    width: 100%;
    display: block;
    height: 1.66667rem; }
  .divide-md-35 {
    width: 100%;
    display: block;
    height: 1.94444rem; }
  .divide-md-40 {
    width: 100%;
    display: block;
    height: 2.22222rem; }
  .divide-md-45 {
    width: 100%;
    display: block;
    height: 2.5rem; } }

@media (min-width: 1200px) {
  .divide-lg-5 {
    width: 100%;
    display: block;
    height: 0.27778rem; }
  .divide-lg-10 {
    width: 100%;
    display: block;
    height: 0.55556rem; }
  .divide-lg-15 {
    width: 100%;
    display: block;
    height: 0.83333rem; }
  .divide-lg-20 {
    width: 100%;
    display: block;
    height: 1.11111rem; }
  .divide-lg-25 {
    width: 100%;
    display: block;
    height: 1.38889rem; }
  .divide-lg-30 {
    width: 100%;
    display: block;
    height: 1.66667rem; }
  .divide-lg-35 {
    width: 100%;
    display: block;
    height: 1.94444rem; }
  .divide-lg-40 {
    width: 100%;
    display: block;
    height: 2.22222rem; }
  .divide-lg-45 {
    width: 100%;
    display: block;
    height: 2.5rem; } }

@media (min-width: 1500px) {
  .divide-xl-5 {
    width: 100%;
    display: block;
    height: 0.27778rem; }
  .divide-xl-10 {
    width: 100%;
    display: block;
    height: 0.55556rem; }
  .divide-xl-15 {
    width: 100%;
    display: block;
    height: 0.83333rem; }
  .divide-xl-20 {
    width: 100%;
    display: block;
    height: 1.11111rem; }
  .divide-xl-25 {
    width: 100%;
    display: block;
    height: 1.38889rem; }
  .divide-xl-30 {
    width: 100%;
    display: block;
    height: 1.66667rem; }
  .divide-xl-35 {
    width: 100%;
    display: block;
    height: 1.94444rem; }
  .divide-xl-40 {
    width: 100%;
    display: block;
    height: 2.22222rem; }
  .divide-xl-45 {
    width: 100%;
    display: block;
    height: 2.5rem; } }

@media (min-width: 1730px) {
  .divide-xxl-5 {
    width: 100%;
    display: block;
    height: 0.27778rem; }
  .divide-xxl-10 {
    width: 100%;
    display: block;
    height: 0.55556rem; }
  .divide-xxl-15 {
    width: 100%;
    display: block;
    height: 0.83333rem; }
  .divide-xxl-20 {
    width: 100%;
    display: block;
    height: 1.11111rem; }
  .divide-xxl-25 {
    width: 100%;
    display: block;
    height: 1.38889rem; }
  .divide-xxl-30 {
    width: 100%;
    display: block;
    height: 1.66667rem; }
  .divide-xxl-35 {
    width: 100%;
    display: block;
    height: 1.94444rem; }
  .divide-xxl-40 {
    width: 100%;
    display: block;
    height: 2.22222rem; }
  .divide-xxl-45 {
    width: 100%;
    display: block;
    height: 2.5rem; } }

.block {
  padding: 2.77778em 2.77778em; }
  .block-top {
    padding-top: 2.77778em; }
  .block-bottom {
    padding-bottom: 2.77778em; }
  .block-left {
    padding-left: 2.77778em; }
  .block-right {
    padding-right: 2.77778em; }
  .block-large {
    padding: 4.16667em 4.16667em; }
    .block-large-top {
      padding-top: 4.16667em; }
    .block-large-bottom {
      padding-bottom: 4.16667em; }
    .block-large-left {
      padding-left: 4.16667em; }
    .block-large-right {
      padding-right: 4.16667em; }
  .block-medium {
    padding: 2.08333em 2.08333em; }
    .block-medium-top {
      padding-top: 2.08333em; }
    .block-medium-bottom {
      padding-bottom: 2.08333em; }
    .block-medium-left {
      padding-left: 2.08333em; }
    .block-medium-right {
      padding-right: 2.08333em; }
  .block-small {
    padding: 1.38889em 1.38889em; }
    .block-small-top {
      padding-top: 1.38889em; }
    .block-small-bottom {
      padding-bottom: 1.38889em; }
    .block-small-left {
      padding-left: 1.38889em; }
    .block-small-right {
      padding-right: 1.38889em; }

.d-block {
  display: block; }

.d-flex {
  display: flex; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

@media (min-width: 568px) {
  .d-xs-block {
    display: block; }
  .d-xs-flex {
    display: flex; }
  .d-xs-inline {
    display: inline; }
  .d-xs-inline-block {
    display: inline-block; } }

@media (min-width: 768px) {
  .d-sm-block {
    display: block; }
  .d-sm-flex {
    display: flex; }
  .d-sm-inline {
    display: inline; }
  .d-sm-inline-block {
    display: inline-block; } }

@media (min-width: 992px) {
  .d-md-block {
    display: block; }
  .d-md-flex {
    display: flex; }
  .d-md-inline {
    display: inline; }
  .d-md-inline-block {
    display: inline-block; } }

@media (min-width: 1200px) {
  .d-lg-block {
    display: block; }
  .d-lg-flex {
    display: flex; }
  .d-lg-inline {
    display: inline; }
  .d-lg-inline-block {
    display: inline-block; } }

@media (min-width: 1500px) {
  .d-xl-block {
    display: block; }
  .d-xl-flex {
    display: flex; }
  .d-xl-inline {
    display: inline; }
  .d-xl-inline-block {
    display: inline-block; } }

@media (min-width: 1730px) {
  .d-xxl-block {
    display: block; }
  .d-xxl-flex {
    display: flex; }
  .d-xxl-inline {
    display: inline; }
  .d-xxl-inline-block {
    display: inline-block; } }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.align-self-start {
  align-self: flex-start; }

.align-self-center {
  align-self: center; }

.align-self-end {
  align-self: flex-end; }

.align-self-baseline {
  align-self: baseline; }

.align-items-start {
  align-items: flex-start; }

.align-items-center {
  align-items: center; }

.align-items-end {
  align-items: flex-end; }

.align-items-baseline {
  align-items: baseline; }

.mt-auto {
  margin-top: auto; }

.mb-auto {
  margin-top: auto; }

.clearfix:before, .clearfix:after {
  content: '';
  clear: both;
  display: table; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.margin-center {
  margin-left: auto;
  margin-right: auto; }

.overflow-hidden {
  overflow: hidden; }

.relative {
  position: relative; }

.square {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden; }
  .square img {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.pipe {
  outline: 1px solid;
  box-sizing: content-box; }

.background-cover {
  background-size: cover; }

.wb-bg {
  background-image: url("/Areas/CMS/assets/img/Group 439@2x.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat; }

.absolute-underlay {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 100%; }
  .absolute-underlay > img {
    max-width: 100%;
    display: block; }

.h-100 {
  height: 100%; }

@media (min-width: 568px) {
  .h-xs-100 {
    height: 100%; } }

@media (min-width: 768px) {
  .h-sm-100 {
    height: 100%; } }

@media (min-width: 992px) {
  .h-md-100 {
    height: 100%; } }

@media (min-width: 1200px) {
  .h-lg-100 {
    height: 100%; } }

@media (min-width: 1500px) {
  .h-xl-100 {
    height: 100%; } }

@media (min-width: 1730px) {
  .h-xxl-100 {
    height: 100%; } }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 0.27778em; }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
input,
select,
textarea {
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 1px solid #bababa;
  padding: 0.16667em 0.55556em;
  background: transparent; }

button {
  cursor: pointer; }

.checkbox {
  margin: 0;
  cursor: pointer;
  font-size: 1.5em; }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: -9999px;
    z-index: 12;
    width: 18px;
    height: 18px;
    cursor: pointer; }
  .checkbox input[type="checkbox"]:checked ~ .box:after {
    opacity: 1;
    -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
    transition: opacity 0.2s 0.1s ease-out, -webkit-transform 0.2s 0.1s ease-out;
    transition: opacity 0.2s 0.1s ease-out, transform 0.2s 0.1s ease-out;
    transition: opacity 0.2s 0.1s ease-out, transform 0.2s 0.1s ease-out, -webkit-transform 0.2s 0.1s ease-out; }
  .checkbox .box {
    position: relative;
    display: inline-block;
    transition: border 0.15s 0.15s ease-in;
    height: 1em;
    width: 1em;
    border: .125em solid;
    text-align: center;
    vertical-align: middle; }
    .checkbox .box:after {
      content: "";
      display: block;
      width: 0.5em;
      height: 1.05em;
      border-bottom: 0.16667em solid;
      border-right: 0.16667em solid;
      opacity: 0;
      position: absolute;
      bottom: 20%;
      left: 45%;
      transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
      transition: opacity 0.2s ease-in, transform 0.2s ease-in;
      transition: opacity 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
      color: #00ff00;
      -webkit-transform: rotate(45deg) scale(0.8);
              transform: rotate(45deg) scale(0.8); }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
.btn {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02778em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  padding: 0.44444em 1.38889em;
  transition: color .15s, background-color .15s, box-shadow .15s, -webkit-transform .15s;
  transition: color .15s, background-color .15s, transform .15s, box-shadow .15s;
  transition: color .15s, background-color .15s, transform .15s, box-shadow .15s, -webkit-transform .15s;
  background-color: #2c3443;
  color: #ffffff;
  border: 3px solid #2c3443;
  border-radius: 5px; }
  .btn:hover, .btn:focus {
    background-color: transparent;
    color: #2c3443;
    text-decoration: none;
    outline: 0; }
  .btn:hover:focus, .btn:active {
    -webkit-transform: scale(1.008);
            transform: scale(1.008);
    box-shadow: -1px 2px 3px 0 rgba(0, 0, 0, 0.2); }
  .btn.bg-black {
    color: #fff;
    border-color: #000;
    background-color: #000; }
    .btn.bg-black:hover, .btn.bg-black:focus, .btn.bg-black:active {
      background-color: transparent;
      color: #000; }
  .btn.bg-gray {
    color: #fff;
    border-color: #2c3443;
    background-color: #2c3443; }
    .btn.bg-gray:hover, .btn.bg-gray:focus, .btn.bg-gray:active {
      background-color: transparent;
      color: #2c3443; }
  .btn.bg-medium-gray {
    color: #000;
    border-color: #8aa59b;
    background-color: #8aa59b; }
    .btn.bg-medium-gray:hover, .btn.bg-medium-gray:focus, .btn.bg-medium-gray:active {
      background-color: transparent;
      color: #8aa59b; }
  .btn.bg-light-gray {
    color: #000;
    border-color: #bababa;
    background-color: #bababa; }
    .btn.bg-light-gray:hover, .btn.bg-light-gray:focus, .btn.bg-light-gray:active {
      background-color: transparent;
      color: #bababa; }
  .btn.bg-off-white {
    color: #000;
    border-color: #eeeeee;
    background-color: #eeeeee; }
    .btn.bg-off-white:hover, .btn.bg-off-white:focus, .btn.bg-off-white:active {
      background-color: transparent;
      color: #eeeeee; }
  .btn.bg-white {
    color: #000;
    border-color: #ffffff;
    background-color: #ffffff; }
    .btn.bg-white:hover, .btn.bg-white:focus, .btn.bg-white:active {
      background-color: transparent;
      color: #ffffff; }
  .btn.bg-accent {
    color: #000;
    border-color: #89B6A5;
    background-color: #89B6A5; }
    .btn.bg-accent:hover, .btn.bg-accent:focus, .btn.bg-accent:active {
      background-color: transparent;
      color: #89B6A5; }
  .btn.link {
    padding-right: 2.77778em; }
    .btn.link:after {
      margin: 0;
      position: absolute;
      right: 1.11111em;
      top: 50%;
      -webkit-transform: translate(0, -50%) rotate(-45deg);
              transform: translate(0, -50%) rotate(-45deg); }

.link {
  vertical-align: middle; }
  .link:after {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-right: 0.15em solid;
    border-bottom: 0.15em solid;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-left: .5em;
    vertical-align: middle; }

.input-group {
  width: 100%;
  margin-bottom: 0.83333em; }
  .input-group input {
    display: block;
    width: 100%; }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
.index-container {
  min-height: 100vh;
  overflow: hidden;
  background: url("../img/default-bg.jpg") no-repeat center;
  background-size: cover;
  background-color: #2c3443;
  display: flex;
  align-items: center;
  flex-direction: row; }

.login-form {
  background: #eeeeee;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.15); }
  .login-form h1 {
    margin-top: 0; }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
.pill-radio {
  display: flex;
  flex-direction: row; }
  .pill-radio > .pill {
    cursor: pointer;
    margin-right: -1px; }
    .pill-radio > .pill input {
      height: 0;
      width: 0;
      font-size: 0;
      overflow: hidden;
      visibility: hidden; }
    .pill-radio > .pill span {
      font-weight: 400;
      display: block;
      border: 1px solid #bababa;
      padding: 0.22222em 0.66667em;
      color: rgba(44, 52, 67, 0.4); }
    .pill-radio > .pill:first-child span {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pill-radio > .pill:last-child span {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .pill-radio > .pill input:checked + span {
      border-color: #89B6A5;
      box-shadow: inset 0 0 0 3px #89B6A5;
      z-index: 5;
      color: #2c3443; }

#notify {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  padding: 0.55556em 0.83333em;
  font-size: 0.8em;
  text-align: center;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  z-index: 300; }
  #notify button {
    position: absolute;
    color: inherit;
    border: 0;
    background: transparent;
    padding: 0;
    float: right;
    position: absolute;
    right: 15px;
    display: none; }
  #notify.active {
    -webkit-animation: activateNotify forwards .2s;
            animation: activateNotify forwards .2s; }
    #notify.active button {
      display: inline; }
  #notify[type="notify-default"] {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff; }
  #notify[type="notify-success"] {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb; }
  #notify[type="notify-warn"] {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba; }
  #notify[type="notify-error"] {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; }

@-webkit-keyframes activateNotify {
  0% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes activateNotify {
  0% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
.damage-info-window {
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #2c3443;
  border: 3px solid #000;
  border-radius: 15px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: left;
  width: 224px; }
  .damage-info-window .content {
    padding: 0.55556em; }
  .damage-info-window img {
    display: block;
    width: calc(100% + 6px);
    margin-left: -3px;
    margin-top: -3px;
    border: 3px solid #000;
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
  .damage-info-window:after {
    content: "";
    width: 1.94444em;
    height: 1.94444em;
    background-color: #2c3443;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-radius: 3px;
    position: absolute;
    top: calc(100% + 2px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }

.gm-style-iw + div {
  display: none; }

.gm-style-iw {
  text-align: center;
  overflow: visible !important; }

.navbar {
  font-size: 0.88889em;
  padding: 0 0.66667em; }

#navbarNav .navbar-nav {
  margin-left: auto; }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
.scroll-section {
  overflow-y: auto;
  max-height: 100%;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .scroll-section::-webkit-scrollbar {
    width: 10px; }
  .scroll-section::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .scroll-section::-webkit-scrollbar-thumb {
    background: #888; }
  .scroll-section::-webkit-scrollbar-thumb:hover {
    background: #555; }

/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
.damage-list {
  font-size: 0.88889em;
  font-weight: 400;
  width: 100%;
  table-layout: fixed; }
  .damage-list th,
  .damage-list td {
    vertical-align: middle;
    padding: 6px 0 4px;
    border-bottom: 2px solid rgba(44, 52, 67, 0.2); }
  .damage-list th {
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02778em;
    font-size: 0.8em;
    font-weight: 800;
    padding-top: 0 !important;
    color: rgba(44, 52, 67, 0.8); }
  .damage-list tr {
    display: flex;
    flex-direction: row;
    padding-left: 0.27778em;
    padding-right: 0.27778em;
    margin-left: -0.27778em;
    margin-right: -0.27778em;
    transition: all 0.15s;
    border: 3px solid transparent;
    border-radius: 3px;
    margin-top: -7px; }
    .damage-list tr.active {
      background-color: #2c3443;
      color: #ffffff;
      border: 3px solid #000;
      box-shadow: 0 0 5px rgba(44, 52, 67, 0.6); }
    .damage-list tr > .streetname {
      width: 43%;
      padding-right: 1.11111em; }
    .damage-list tr > .type {
      width: 12%;
      padding-right: 1.11111em;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.02778em;
      font-size: 0.8em;
      font-weight: 800;
      padding-top: 0.61111em; }
    .damage-list tr > .label {
      width: 30%;
      padding-right: 1.11111em; }
    .damage-list tr > .verified {
      width: 15%;
      text-align: center; }
  .damage-list .checkbox {
    line-height: 0; }

/*# sourceMappingURL=main.css.map */
